.food-card {
    background: white;
    border-radius: 0.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.03);
    transition: var(--transition);
}

.food-card:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.08);
}

.food-img {
    position: relative;
    height: 15.625rem;
    flex-shrink: 0;
    overflow: hidden;
}

.food-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--accent-yellow);
    color: var(--text-dark);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.125rem 0.625rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 2;
}

.food-info {
    padding: 0.75rem;
}

.food-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.food-header h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.price {
    font-weight: 700;
    color: var(--text-dark);
    font-size: 1rem;
}

.food-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    font-size: 0.85rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0;
    font-weight: 600;
}

.rating span:first-child {
    background: #f8f8f8;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
    color: var(--text-dark);
}

.rating span:last-child {
    background: #f3f3f3;
    color: #555;
    font-weight: 500;
    border: none;
    border-radius: 0.75rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
}

.add-btn {
    background-color: var(--accent-yellow);
    border: none;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 1;
    box-shadow: 0 0.25rem 0.625rem rgba(243, 186, 0, 0.4);
    padding-bottom: 0.25rem;
}