.carousel-container {
    position: relative;
    max-width: 73.75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-track-container {
    overflow: hidden;
    width: max-content;
    max-width: 100%;
    padding: 0.5rem 0 2rem 0;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 1.5rem;
    padding: 1rem;
}

.carousel-slide {
    min-width: 17.3125rem;
    width: 17.3125rem;
    height: 21.0625rem;
    list-style: none;
}

.carousel-btn {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.prev-btn {
    background: white;
    border: 0.125rem solid #00C853;
    color: #00C853;
}

.prev-btn svg {
    stroke: #00C853;
    width: 2rem;
    height: 2rem;
}

.prev-btn:hover {
    background: #f0fff4;
}

.next-btn {
    background: #00C853;
    border: 0.125rem solid #00C853;
    color: white;
    box-shadow: 0 0.25rem 0.875rem rgba(0, 200, 83, 0.4);
}

.next-btn:hover {
    background: #00b34a;
    box-shadow: 0 0.375rem 1.125rem rgba(0, 200, 83, 0.5);
}

.next-btn svg {
    stroke: white;
    fill: white;
    width: 2rem;
    height: 2rem;
}

.quantity-selector {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 0.375rem;
    overflow: hidden;
    height: 2rem;
}

.qty-btn {
    background: #F3BA00;
    border: none;
    color: white;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.qty-btn.minus {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.qty-btn.plus {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.qty-val {
    background: white;
    border: 0.0625rem solid #eee;
    border-left: none;
    border-right: none;
    width: 1.875rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
}